<!-- Footer -->
<footer class="page-footer font-small  pt-4" style="background-color: #c71585; font-family: Avenir">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
  <a href= "https://github.com/navido89"><i class ="fab fa-github" style= "font-size: 50px; color: white"></i></a>
         
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
            <a href= "https://linkedin.com/in/navidmashinchi"><i class ="fab fa-linkedin" style= "font-size: 50px; color: white"></i></a>
            </a>
        </li>
        
        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
            <a href= "https://www.instagram.com/navido_ma/"><i class ="fab fa-instagram fa-5x" style= "font-size: 50px; color: white"></i></a>            
            </a>
        </li>

        <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
            <a href= "https://twitter.com/NMashinchi"><i class ="fab fa-twitter" style= "font-size: 50px; color: white"></i></a>
            </a>
        </li>

        <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
            <a href= "navid.mashinchi-resume.pdf" target="_blank"><i class="fas fa-file" style= "font-size: 50px; color: white"></i></ion-icon></a>
            </a>
        </li>
      </ul>
  
    </div>
    
    <div class="footer-copyright text-center py-3" style="color:white">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" style="color:white"> navidma.com</a>
      <br>
      <br>
      <a href="#top" style = "font-size: 25px; color: inherit; text-decoration: solid; margin-top:25px"><i class = "fas fa-angle-up"></i></a>
      <br>
      <a href="#top" style="color:inherit; text-decoration: solid">BACK TO THE TOP</a>
    </div>
  
  </footer>
