<footer class="page-footer font-small blue-grey lighten-5">

        <div style="background-color: hsl(189, 32%, 45%)">
          <div class="container">
      
            
            <div class="row py-4 d-flex align-items-center">
      
              
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0" style= "color:burlywood">Get connected with me on social networks!</h6>
              </div>
              
              <div class="col-md-6 col-lg-7 text-center text-md-right">
      
                
                <a class="tw-ic">
                        <a href= "https://linkedin.com/in/navidmashinchi"><ion-icon name="logo-linkedin" style= "font-size: 40px; color:burlywood"></ion-icon></a>
                        <a href= "https://github.com/navido89"><ion-icon name="logo-github" style= "font-size: 40px; color:burlywood"></ion-icon></a>
                        <a href= "https://twitter.com/NMashinchi"><ion-icon name="logo-twitter" style= "font-size: 40px; color:burlywood"></ion-icon></a>
                        <a href= "https://www.instagram.com/navido_ma/"><ion-icon name="logo-instagram" style= "font-size: 40px; color:burlywood"></ion-icon></a>

                </a>
                
              </div>
              
      
            </div>
            
      
          </div>
        </div>
      
       
        <div class="container text-center text-md-left mt-5" >
      
          
          <div class="row mt-3 dark-grey-text">

            
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
      
              
              <h6> <a href= "/about" style="color: inherit" class="lead">About</a></h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              
      
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
      
             
              <h6> <a href= "/skills" style="color: inherit" class="lead">Skills</a></h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              
      
            </div>
           
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      
            
              <h6> <a href= "/work" style="color: inherit" class="lead">Work</a></h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              
      
            </div>
           
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      
              <h6> <a href= "/contact" style="color: inherit" class="lead">Contact</a></h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              
             
            </div>
           
        </div>
        
        <div class="footer-copyright text-center text-black-50 py-3">
            <a href="#top" style = "font-size: 25px; color: inherit; text-decoration: solid"><i class = "fas fa-angle-up"></i></a>
            <br>
            <a href="#top" style="color:inherit; text-decoration: solid">BACK TO THE TOP</a>

        </div>

        </div>

        
      
      </footer>
      