<!-- Footer -->
<footer class="page-footer font-small  pt-4" style="background-color: #c71585; font-family: Avenir;">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center" style="padding-top: 5%;">
        <li class="list-inline-item">
  <a href= "https://github.com/navido89"><i class ="fab fa-github" style= "font-size: 30px; color: white"></i></a>
         
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
            <a href= "https://linkedin.com/in/navidmashinchi"><i class ="fab fa-linkedin" style= "font-size: 30px; color: white"></i></a>
            </a>
        </li>
        
        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
            <a href= "https://www.instagram.com/navido_ma/"><i class ="fab fa-instagram fa-5x" style= "font-size: 30px; color: white"></i></a>            
            </a>
        </li>

        <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
            <a href= "https://twitter.com/NMashinchi"><i class ="fab fa-twitter" style= "font-size: 30px; color: white"></i></a>
            </a>
        </li>
       <br>
       <br>
       <a href="#top" style = "font-size: 20px; color: white;text-decoration: solid;text-align: center"><i class = "fas fa-angle-up"></i></a>
       <br>
       <a href="#top" style="color: white; text-decoration: solid; text-align: center; font-size: 17px">Back to Top</a>
       </ul>
       
       
   
    </div>

    
    <div class="footer-copyright text-center pb-5">
        <p style="color:white">© 2019 Copyright: navidma.com</p>
        </div>
    
    
    
  
  </footer>
