<style>
  .navbar2{
      margin-bottom: 0px;
  }

  @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
          background: #c71585!important;
      }
  }
  .view,body,html{height:100%}.navbar{background-color:#c71585}.page-footer,.top-nav-collapse{background-color:#c71585}@media only screen and (max-width:768px){.navbar{background-color:#c71585}}
  </style>
  
 <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar">
<div class="container">

<!-- Brand -->
<a class="navbar-brand" href="/">
<strong>navidma</strong>
</a>

<!-- Collapse -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<!-- Links -->
<div class="collapse navbar-collapse" id="navbarSupportedContent">

<!-- Left -->
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="/skills">Skills
      <!-- <span class="sr-only">(current)</span> -->
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/projects">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blog">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/testimonials">Testimonials</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact</a>
  </li>
</ul>

<!-- Right -->
<ul class="navbar-nav nav-flex-icons">
  <li class="nav-item">
    <a href="navid-mashinchi-resume-data-science.pdf" class="nav-link" target="_blank">
      <i class="fas fa-file"></i>          
    </a>
  </li>
  <li class="nav-item">
    <a href="https://medium.com/@NMashinchi" class="nav-link" target="_blank">
      <i class="fab fa-medium"></i>          
    </a>
  </li>
  <li class="nav-item">
    <a href="https://twitter.com/NMashinchi" class="nav-link" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
  </li>
  <li class="nav-item">
    <a href="https://linkedin.com/in/navidmashinchi" class="nav-link" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>
  <li class="nav-item">
    <a href="https://github.com/navido89" class="nav-link"
      target="_blank">
      <i class="fab fa-github mr-2"></i>
    </a>
  </li>
</ul>

</div>

</div>
</nav>
<!-- Navbar -->