body {
    padding-top: 54px;
    background: url(../images/glen-carrie-102887-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: burlywood;
    }



    