<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <% include ./partials/navbar.ejs %>

      <main>
      
        <section style= "background: transparent; text-align:center" class=" container jumbotron my-4">
          <img src="images/Head-Shot-For-Portfolio.jpg" class = "rounded-circle rounded mx-auto d-block animated zoomIn" alt="Navid Mashinchi Head-Shot" style="height:230px">
          <h1 class="display-3 animated zoomIn">ABOUT</h1>
          <hr>
          <a href= "https://linkedin.com/in/navidmashinchi"><ion-icon name="logo-linkedin" style= "font-size: 80px; color:#005766"></ion-icon></a>
          <a href= "https://github.com/navido89"><ion-icon name="logo-github" style= "font-size: 80px; color: #005766"></ion-icon></a>
          <a href= "https://twitter.com/NMashinchi"><ion-icon name="logo-twitter" style= "font-size: 80px; color: #005766"></ion-icon></a>
          <a href= "navid.mashinchi-resume.pdf" target="_blank"><ion-icon name="document"style= "font-size: 80px; color: #005766"></ion-icon></a>
          <hr>
        </section>

        <section style="text-align: center; height:10px" class= jumbotron my-1>
          <h4 class="display-6 lead animated slideInRight">"Never let success go to your head and never let failure go to your heart" -Ziad K.Abdelnour</h4> 
        </section>

        <div>
          <img src="images/numberTwo.jpg"  class='w-100' style="height:600px" alt="number one image">
        </div>

        <section style= "background: transparent; text-align:center" class=" container jumbotron my-4">
          <h3> Hi I am Navid and welcome to my website! </h3>
          <p style="text-align: left; ">
            I am a junior fullstack web developer who focuses on creating responsive web applications supported by Test Driven Development and writing effective, accessible and maintainable code.
            I have been a developer for nearly one year and have been loving every minute of it. I am a highly motivated individual who loves to learn new technologies and solve problems.
            My past experiences as a student athlete, professional soccer player, performance analyst and full stack web developer have helped me develop my time management, team player skills and programming 
            skills tremendously. I currently reside in sunny California and am looking for a junior level position in the field of web development. 
          </p>
          <a href="/skills" class="btn btn-info">Skills</a>

        </section>


      </main>
      
      
    
      <footer>
      <% include ./partials/footer.ejs %>
    </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

    </body>
    
</html>