<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <% include ./partials/navbar.ejs %>

      <main class="container">
      
        <section style= "background: transparent; text-align:center" class="jumbotron my-4">
            <h1 class="display-3">About Me</h1>
            <div>
            <img src="../../assets/images/Head-Shot-For-Portfolio.jpg" class = "rounded-circle"> 
            </div>
            
             
          
        </section>
      
      </main>
    
      <footer>
      <% include ./partials/footer.ejs %>
    </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

    </body>
</html>