<!DOCTYPE html>
<html lang="en" style = "scroll-behavior: smooth">
  <head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="css/about.css">


  </head>

  
  <body>

      <% include ./partials/navbar.ejs %>

      <main>
      
        <section style= "text-align:center" class="jumbotron jumbotron1">
          <div class="container animated fadeIn">
          
          <div>
            
          <img src="images/Head-Shot-1.jpg" class = "rounded-circle mx-auto d-block landingPic" alt="Navid Mashinchi Head-Shot" style="height:150px; width:150px;">
          
            <h1 style="color:black; margin-top:15px">NAVID MASHINCHI</h1>
            <p class="lead"> FULL STACK WEB DEVELOPER </p>


            <hr>
            
            <a href= "https://github.com/navido89"><i class ="fab fa-github" style= "font-size: 50px; color: black"></i></a>
            <a href= "https://linkedin.com/in/navidmashinchi"><i class ="fab fa-linkedin" style= "font-size: 50px;"></i></a>
            <a href= "https://www.instagram.com/navido_ma/"><i class ="fab fa-instagram fa-5x" style= "font-size: 50px;"></i></a>            
            <a href= "https://twitter.com/NMashinchi"><i class ="fab fa-twitter" style= "font-size: 50px; color: twitter"></i></a>
            <a href= "navid.mashinchi-resume.pdf" target="_blank"><i class="fas fa-file" style= "font-size: 50px; color: black"></i></ion-icon></a>

          </div>
          
            <hr>
            <h1 style="color:black; margin-top:15px">ABOUT</h1>

        </section>

        <section style="text-align: center; height:10px" class= jumbotron my-1>
          <h4 class="display-6 lead animated slideInRight" style = "font-family: myriad; color: #c71585">"Never let success go to your head and never let failure go to your heart" -Ziad K.Abdelnour</h4> 
        </section>

        
        <br>
        
        <section style= "padding-bottom: 3%;" class="container jumbotron">
          <img src= "images/About.JPEG" class= "float-left" style="height:400px; width:290px; padding: 15px" alt="About Picture">
          <p style= "margin-top: 20px; color: #c71585">
            I am Navid Mashinchi a Full Stack Web Developer based in Sacramento, California. I have been a developer for more then a year and have been loving every second of it. I am a highly motivated individual who always loves to learn new technologies and solve problems. I focus on creating responsive web applications supported by Test Driven Development, writing effective, and maintainable code. I am experienced in JavaScript frameworks, including Node.JS and React. 
            <br>
            <br>
            I played soccer professionally for a number of years in countries such as Germany and Canada. Following my soccer career, I attended and graduated from the University of British Columbia. While I was finishing my last year in University, I joined the Vancouver Whitecaps FC (Major League Soccer) as a performance analyst and scout.  Throughout my time with the Whitecaps, I developed a strong passion for learning new technologies. As a result, I decided to shift into the Software & Tech industry. My love for coding, creating simple, yet useful websites, and my willingness to help other people have shaped me as a person and help me reach my career goals. 
            <br>
            <br>
            I am fluent in Farsi, German and English. While I am not working on any projects, I spend time with my family, in the gym, play soccer or learn new technologies. I truly believe that there is nothing more beautiful in life than learning new skills and reinventing yourself to become better as every day passes.
            <br>
            <br>
            If you would like to learn more about me, feel free to have a look at my resume.     
            </p>
            <br>
            <br>
            <p class = "lead"style = "text-align: center; ">
              <a href= "navid.mashinchi-resume.pdf" target="_blank"><button type="button" class="button btn">Resume</button></a>
            <br>
            <br>
            
            </p>

          </section>

         </main>
      
      
    
      <footer>
        <% include ./partials/footer.ejs %>
      </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
    
</html>