<!DOCTYPE html>
<html lang="en" style = "scroll-behavior: smooth">

  <head>
    <% include ./partials/head.ejs %>
    <style>
      .fadeIn {
    animation-duration: 3s;
    animation-delay: 0.5s;
    }
    
    .slideInRight {
    animation-duration: 2s;
    animation-delay: 0.5s;
    }
      </style>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

  </head>

  <body>

    <% include ./partials/navbar.ejs %>

      <main>
        <p class="animated fadeIn"  style = "font-family: myriad; color: #c71585; font-size: 80px; text-align:center;">Blog</p> 

        <div class = "jumbotron animated fadeIn" style="background-color: #f9f9f9">  
          <div class="container">
                <div class="row">
                    <div class="col-md-6 how-img">
                      <img src= "images/Blog.jpg" class= "float-center img-fluid" alt="Blog Picture">
                      <img src= "images/MediumLogo.png" class= "float-center img-fluid" alt="Medium Logo">                      
                      
                    </div>
                    
                    <div class="col-md-6" style="margin-top:0px;">
                      
                      <p id="blogging"> Blogging is a strong passion of mine that I have developed over the years. It's a good learning habit, relaxing and it is also calms my mind. It allows me to reflect about what I have learned and accomplished. I enjoy mostly writing about concepts that I have learned and my most recent projects. </p>

                      <p>Writing about concepts, forces me to teach myself what I know. I believe the best way to determine if you really understand a concept is how easy it is for you to explain it to someone. Writing about concepts is just a great way to reinforce your understanding of the concept.</p>

                      <p>In regard to my projects, I always like to showcase the work that I have done and the insights I was able to gather from my data science project. At the end of the day communicating the findings of a data science project to a technical or non-technical audience is an important skill to have.  </p>
                
                      <p>I write my blogs on Medium.com and I publish the majority of my articles in the group "Towards Data Science". It's one of the biggest groups on Medium and it's a great platform to exchange ideas, present your work and expand your understanding of data science.</p>

                      <p>Feel free to check out my most recent publications and don't be shy to write a comment.</p>
                      
                      
                      <a href= "https://medium.com/@NMashinchi" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">Articles</button></a>

                        
                         
                      
    
                    </div>
                </div>
            </div>
      </div>
                        
          
        

      </main>

      
    
      <footer>
      <% include ./partials/footer.ejs %>
      </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
</html>