<!DOCTYPE html>
<html lang="en" style = "scroll-behavior: smooth">

  <head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="css/blogs.css">
    <style>
      .fadeIn {
    animation-duration: 3s;
    animation-delay: 0.5s;
    }
    
    .slideInRight {
    animation-duration: 2s;
    animation-delay: 0.5s;
    }
      </style>
  </head>

  <body>

    <% include ./partials/navbar.ejs %>

      <main>
      <p class="animated fadeIn"  style = "font-family: myriad; color: #c71585; font-size: 80px; text-align:center; text-decoration-line: underline ">Blog</p> 
  
        
      <section class = "jumbotron" style= "background-color:#f9f9f9;">

          <div class="container-fluid">
          <div class="card animated fadeIn" style="background-color:#f9f9f9; border:none;">
                  
                    <h2>Time To Give Back - Locus Health Centre Project Update</h2>
                    <h5>July 2, 2019</h5>
                    <img src="images/locus-blog.png" style="width:50%" class="img-fluid"></img>
                    </a>
                    <p style="margin-top:25px">So here we are. It’s not Christmas yet, but it was time for me to play the role of early Santa Claus and give back to the community. It’s been about a year I started programming and I am about to graduate from my full stack web development apprenticeship. So I thought to myself why not do something good for the community and give back something valuable for my final capstone project.</p>
                    <p>
                    <button class="btn button" type="button" data-toggle="collapse" data-target="#collapseArticle0" aria-expanded="false" aria-controls="collapseArticle0">
                          Continue Reading
                    </button>
                      </p>
                    <div class="collapse" id="collapseArticle0">
                    <div class="card card-body" style= "background-color:#f9f9f9; border:none">
                    <p>I decided to create an entire new application for a business called Locus Health Centre (LHC). LHC provides registered massage therapy service, registered acupuncture, kinesiology and many more services in Vancouver, Canada. The goal of this project, was to improve the entire user interface, create a clean and user friendly website.</p>
                    <br>
                    <img src="images/locus-project.PNG" style="width:50%">
                    <br>
                    <p>It was a great experience taking on this project, because it gave me a real life time experience on the entire process from starting to sketch wireframes all the way to finish the first sprint. The technologies that I have used are the following:</p>
                    <ul>
                      <li>Node.JS</li>
                      <li>Express</li>
                      <li>JavaScript(ES6)</li>
                      <li>Embedded JavaScript(EJS)</li>
                      <li>HTML5</li>
                      <li>CSS</li>
                      <li>Bootstrap4</li>
                      <li>Jasmine(For Testing Purposes)</li>
                      <li>Nodemailer (API)</li>
                    </ul>
                    <p>Nodemailer is an API that I used to implement for the contact page. It’s similar to SendGrid and allows the user to send messages from your application. Further more I was planning to use the Google Map API for this project, but since Google doesn’t allow you to use their APIs for free, I had to remove the user story from the project.</p>
                    <p>When I start a new project, I follow the steps I was taught in my time with Bloc. I started sketching all the wireframes for the user stories, so I get a good idea of how the front-end side is suppose to look like in production. Following the sketching stage, I set up my dependencies and folders inside my Node.JS application to get organized. After that I turned the sketches into code. I also used test driven development (TDD), to make sure I produce quality and reliable code.</p>
                    <p>Once the first sprint was completed, I presented my work to the owner of the clinic. A few adjustments in terms of picture selection and lay out were made. It was a great experience interacting with the owner back and forth on how he would like the final product to look like. Developing it and seeing him happy was a rewarding feeling. There are a few little details, that will be added and once the page will be launched I will make sure to announce it so you can check it out.</p>
                    <p>Until then happy coding :) </p>
                    </div>
                    </div>
                  </div>
          </div>
        </section>

        <hr class="animated fadeIn" style = "background-color:#c71585;">



        <section class = "jumbotron" style= "background-color:#f9f9f9;">

            <div class="container-fluid">
            <div class="card animated fadeIn" style="background-color:#f9f9f9; border:none;">
                <h2>Server Side JS with Node.JS </h2>
                <h5>June 3, 2019</h5>
                <img src="images/nodejs.png" style="width:50%" class="img-fluid"></img>
                </a>
                <p style="margin-top:25px">It’s been about a couple months since I posted my last story, but there is a reason why I didn’t get a chance to post any updates on my journey in the world of programming. Let me tell you one thing, it’s been a heck of a ride and super rewarding seeing the improvements in my programming skills.
                Module 4 of Bloc’s apprenticeship has definitely been the most challenging module, but at the same time it’s been one of the most enjoyable modules that I have worked on. </p>
                <p>
                    
                    <button class="btn button" type="button" data-toggle="collapse" data-target="#collapseArticle1" aria-expanded="false" aria-controls="collapseArticle1">
                      Continue Reading
                    </button>
                  </p>
                  <div class="collapse" id="collapseArticle1">
                    <div class="card card-body" style= "background-color:#f9f9f9; border:none">

                        <p>The reason for that is, because I got to use all my skills to finally create multiple applications from scratch on my own. I got introduced to a very popular server side platform called Node.JS.</p>
                        <img src="images/Node.JS.jpeg"style="width:50%">
                        <br>
                        <p>Node.JS is one of the most popular technologies used by leading businesses such as Uber, Airbnb, Netflix and many more. To those who don’t know what Node.JS is, it allows you to create fast and scalable network applications, by using only one single programming language for both the front-end and back-end side. Sounds convenient right? The whole idea of relying on one single programming language, JavaScript, rather then using a different language for writing server-side code is called “Isomorphic JavaScript”. If you are new to Node.JS, I highly recommend reading the following article to learn more about 
                        <a href="https://medium.com/airbnb-engineering/isomorphic-javascript-the-future-of-web-apps-10882b7a2ebc"target="_blank">Isomorphic Javascript.</a></p>
                        
                        <p>
                            Module 4 started with the introduction to Node.JS and its core libraries. Learning about the standard, built in libraries such as
                            <a href="https://nodejs.org/docs/latest-v8.x/api/fs.html"target="_blank">"fs"</a> which stands for file stystem,
                            <a href="https://nodejs.org/docs/latest-v8.x/api/http.html" target="_blank">"HTTP"</a> and 
                            <a href="https://nodejs.org/docs/latest-v8.x/api/modules.html"target="_blank">"Node Modules"</a>
                            was a good way to start learning and grasp the fundamental understanding of how Node.JS’s environment works. Following the introduction, I started implementing the skills that I have learned into real life projects.</p>
                        
                        <p>The first project that I worked on is called “Address Bloc”. It’s a command line application that uses the
                            <a href="https://github.com/SBoudrias/Inquirer.js/"target="_blank">"Inquirer"</a> module. The application is an address book that will allow users to store and retrieve contacts. When building this app I got introduced to a number of important concepts and learned some new features that are very powerful. First I learned about “Testing”, which is in todays job market a very demanding skill to have. There are a number of testing patterns, but the once I learned are “Test Driven Development” and “Behavioral Driven Development.” I am not going to get into the details of what they are about, but in short “Test Driven Development” (TDD) tests the implementation of your code, where though “Behavioral Driven Development” (BDD) is an extension of TDD and not only focuses on the implementation of your code but also on the behavior of it. Throughout the Module I used the testing framework
                            <a href="https://jasmine.github.io/"target="_blank">"Jasmine"</a> , which is very popular and easy to understand.
                        </p> 
                        <br>
                        <img src="images/jasmine.png" style="width:50%">
                        <br>
                        <p>Another important concept that I learned is “Object Relational Mapping” (ORM). I know when reading those terms for the first time it may sound super complicated, but to be honest if you spend a little time on them and do your research they become easy to understand. ORM allows you to create SQL queries, by allowing the developer to use the language of their choice. Instead of writing queries manually through your database, you can simply code queries, which is a big benefit. The only downsides of ORM are that they are slow in processing queries and that it’s hard to implement complex queries. I used
                            <a href="http://docs.sequelizejs.com/"target="_blank">"Sequelize"</a> 
                            in my projects. It’s a promise base ORM, which allows you to create models, association between models, migrations and SQL Queries.    
                        </p>
                        <p>In order to store the contacts in my Address-Bloc project, I used PostgreSQL for my database and as mentioned above Sequelize for my ORM. To connect the database and your ORM you simply use a package called “pg” which helps you handle the connection to the database and Sequelize.
                        
                        Overall I must say learning about ORM and Testing really takes your programming to another level. If you would like to check out the command line project just check it out on my GitHub. See the link below:
                            <a href="https://github.com/navido89/address-bloc"target="_blank">"Addres-Bloc-GitHub".</a> 
                          </p>
                          <br>
                          <img src="images/address-bloc.png" style="width:50%">
                          <br>
                          <p>The second project that I worked on in Module 4 is called OneTwoPass. This project is a reddit inspired web app that has been built with Node.JS, Express, PostgreSQL, Jasmine and Embedded JavaScript. This app allows users to create topics, posts, and comments as well as vote and favorite posts.</p>
                          <p>
                            <a href="https://expressjs.com/"target="_blank">"Express"</a> 
                            is another key learning objective of this module. It’s a very popular Node.JS framework that provides developers an API, build handlers for requests, plugin middleware such as view engine and many more features. Middleware is a key concept of express. It allows developers to add functionalities such as verification, authentication and many more features to their apps. Instead of rewriting the code for each feature, middleware can be simply required to your app. However the only downside of it is, that express doesn’t take care of the maintenance of the additional dependencies. 
                          
                          <a href="https://github.com/mde/ejs"target="_blank">"Embedded JavaScript (EJS)"</a> 
                            is a view engine middleware that creates HTML templates for the users to view on their browser.
                          </p>
                          <p>
                              This project took me a lot of time, because I started a full stack web application for the first time from scratch. It was a great learning experience and seeing the outcome of this project gave me a lot of motivation and improved my programming skills tremendously. Check out the link below or click on the picture, which takes you to the GitHub repo or to the application directly.
                              <a href="https://github.com/navido89/One-Two-Pass" target="_blank">"OneTwoPass-GitHub-Link."</a> 
                            </p>
                          <a href="https://onetwopass.herokuapp.com/" target="_blank"><img src="images/OneTwoPass.png"></a>
                          <br>
                          <p>Last but not least, the last project that I worked on in Module 4 is called Blocipedia. It allows users to create, collaborate, and share wikis. It was built with Node.JS, Express, PostgreSQL, Jasmine, SendGrid and Stripe. I have enjoyed this project a lot, because of the incorporation of two APIs. 
                              <a href="https://github.com/sendgrid/sendgrid-nodejs"target="_blank">"SendGrid"</a>
                              is an API that allows developers to create user confirmation emails. 
                              <a href="https://stripe.com/"target="_blank">"Stripe"</a>
                              on the other hand, is an API that allows developers to implement a payment process. Working with these APIs and learning on how to incorporate them into my code was a very valuable learning experience.
                          </p>
                          <img src="images/sendgridandstripe.jpeg" style="width:50%">
                          <br>
                          <p>If you are interested in checking out this app have a look at my GitHub link below or check out the app directly.
                              <a href="https://github.com/navido89/blocipedia-node"target="_blank">"Blocipedia-GitHub-Link."</a> 
                          </p>
                          <a href="https://navido89-bloccit.herokuapp.com/"><img src="images/blocipedia-blog.png"></a>
                          <br>
                          <p>Last but not least the grand finale of Module 4 was the last assessment that I would have to take in order to advance to the last module of Bloc’s Full Stack Web Developer program. I passed the assessment and I am super excited to finally start my capstone project and finish the apprenticeship. These last couple months have been an eye opener in terms of how much my programming skills have improved. I started programming about 8 months ago with zero programming knowledge and looking at what I have learned in such a short period of time really justifies that entering this program was a great decision. Everyone can learn coding and if you put in the time and work hard you will see the reward down the road. As mentioned in my last story, always remember:</p>
                          <h1>It’s a marathon && !== a sprint ;)
                          </h1>
                          <p> Until then happy coding :)</p>
                        </p>
                      </div>
                    </div>
                  </div>
          </div>
        </section>

        <hr class="animated fadeIn" style = "background-color:#c71585">

        <section class = "jumbotron" style= "background-color:#f9f9f9;">

            <div class="container-fluid">
            <div class="card animated fadeIn" style="background-color:#f9f9f9; border:none;">     
                <h2>It’s A Marathon & Not A Sprint</h2>
                <h5>February 2, 2019</h5>
                <img src="images/Marathon.jpeg" style="width:50%" class="img-fluid" style="width:50%"></img>
                </a>
                <p style="margin-top:25px">It’s been quite a journey, since I started my Full Stack Web Development apprenticeship through Bloc with zero programming experience. I have made lots of research prior to entering this field and it became evident to me that programming is really for people who have the stamina and patience to sit down and simply just learn.
                <strong>It really is as my title states: “A Marathon Rather Than A Sprint”.</strong> I am amazed how much I have learned throughout the past couple months.</p>
                <p>
                <button class="btn button" type="button" data-toggle="collapse" data-target="#collapseArticle2" aria-expanded="false" aria-controls="collapseArticle2">
                      Continue Reading
                </button>
                  </p>
                <div class="collapse" id="collapseArticle2">
                <div class="card card-body" style= "background-color:#f9f9f9; border:none">
                
                <p>Just to recap quickly, the program started off teaching HTML, CSS and then JavaScript. This was all in Module 1, which followed by the introduction of React in Module 2. The best part about this journey is that you implement the skills you learned in projects that allows you to build your portfolio. I think at the end of the day, the key out of any institution that you graduate from is to learn the skills that helps you down the road to implement in your career. With Bloc you really do learn, <strong>if you have the stamina for it!</strong></p>
                <p>Following Module 2, I got the first tastes of Data Structures, Algorithms and SQL. My Front-End studies came to the end and I got introduced to the Back-End side of programming. I got told that the Back-End side of programming is scarier and much more challenging. Turns out that I enjoyed the Back-End side much more then Front-End. I just enjoy dealing with different sort of Algorithms and Data Structures.</p>
                <p>First, I learned about Pseudocode and the importance of clean coding. Pseudo code is just an informal language that engineers use to express what their codes should do in simple sentences. After that I learned about the importance of clean coding. There are a number of principles such as the “Extract Method”, “Self-Documenting Code” and etc… that gives you a very good understanding of how you should code in the working environment. Clean code just makes you a better developer and helps you when you are working on complex applications in a team environment, where other developers work with you on the code. The cleaner your code is, the easier it is to understand and maintain it.</p>
                <img src="images/clean-code.jpeg" style="width:50%" class="img-fluid"></img>
                <p>Following the introduction of Pseudo Code and Clean Coding, I entered the world of data structures. My first and initial reaction was how on earth will I ever remember to write any of those codes? I learned about Stacks,Queues, LinkedLists, Hash Tables, Arrays and Binary Trees in depth. This is where it, became clear to me that this whole process is really a marathon and that it takes time to grasp and fully understand the concepts and the code of the above mentioned data structures.</p>
                <p>I was quite amazed how powerful these data structures are and how helpful they could be when you deal with a big amount of data set. Each one of them has its own advantages and disadvantages. I am not going to talk through them in this article, but if you want to learn more on that, check out this article. It is a great summery on the pros and cons of various data structures.                 <a href="https://medium.com/omarelgabrys-blog/data-structures-a-quick-comparison-6689d725b3b0"target="_blank">"Data Structures - A Quick Comparison (Part 2)"</a> 
                </p>
                <p>Next, it was time to learn about algorithms. The word algorithm sounded scary to me initially, but it wasn’t as bad as I though. I learned about time complexity, which is an important concept to understand when you want to assess the performance of the algorithm you use. I learned the big O notation concept, which was confusing at the beginning but after a quick algebra refresher it all made sense. After time complexity, I learned about recursions, different sorting and searching methods. <strong>Again it was a marathon to fully understand the codes for the various algorithms.</strong></p>
                <img src="images/algo.png" style="width:50%" class="img-fluid"></img>
                <p>Last but not least I learned about Databases and SQL in Module 3. I used PostgreSQL when learning how to write query statements and also liked the joint statement part, which I could see is a very beneficial skill to have in the future.</p>
                <p>Like any other module in this program I had to write my assessment at the end. The assessment checks whether you have mastered the topics or not. The format is like a real technical interview, which is a good experience for the future. Like anything else in life, nothing is easy and you have to put in the work at the end of the day. I have learned throughout my professional experiences in soccer that talent isn’t just enough and that work ethic will always beat talent. I am grateful that I have developed that mindset in me thanks to my past. I am glad that I can implement it into programming as well and can definitely say that work ethic is definitely needed, if you want to learn to code .The next module will be on server side programming, which teaches how to use Node.JS for back-end programming.</p>
                <p>Until then happy coding everyone :) </p>
                   </div>
                 </div>
               </div>
             </div>
         </section>

<hr class="animated fadeIn" style = "background-color:#c71585">

<section class = "jumbotron" style= "background-color:#f9f9f9;">

    <div class="container-fluid">
    <div class="card animated fadeIn" style="background-color:#f9f9f9; border:none;">
              
                  <h2>My React Journey</h2>
                  <h5>December 6, 2018</h5>
                  <img src="images/React.png" style="width:50%" class="img-fluid" style="width:50%"></img>
                  </a>
                  <p style="margin-top:25px">It has been a while since I have posted my last story, but the past 2 months have been wild. Lots of this.props, this.state, debugging, sweat and long nights. Just to recap quickly, I started with zero knowledge when it comes to programming and within 5–10 weeks into Bloc’s Full Stack Web Development Program, I was able to create a music player app and a chat app. It felt super rewarding implementing the skills I learned to create real applications.</p>
                  <p>
                  <button class="btn button" type="button" data-toggle="collapse" data-target="#collapseArticle3" aria-expanded="false" aria-controls="collapseArticle3">
                      Continue Reading
                </button>
                </p>
                <div class="collapse" id="collapseArticle3">
                  <div class="card card-body" style= "background-color:#f9f9f9; border:none">
                  <p>Following my first assessment I started working on Module 2. It became clear to me after a few assignments that the 2nd Module will be much more challenging than the Programming Fundamentals module. Module two started with the introduction of React and why we use it. It was interesting to learn about all the different frameworks and libraries.</p>
                  <img src="images/rva.jpeg" style="width:50%" class="img-fluid"></img>
                  <br>
                  <p>Comparing Angular, React and Vue gave me a better understanding of what is out there in the industry. Each one of them has it’s pros and cons. It became evident very quickly when making research on both React and Angular that they are the most used in todays world. Mastering one of them is good, but I am sure that becoming an expert in both of them would definitely be a big asset to have. I will definitely have Angular on my list to learn for the future. I am not going to discuss the pros and cons of the above mentioned libraries and frameworks in this story. There are enough stories out there that will give you a good overview. However if you are interested in learning more about React, Angular and Vue check out this article. It really helped me out to grasp the differences.
                      <a href="https://medium.com/@TechMagic/reactjs-vs-angular5-vs-vue-js-what-to-choose-in-2018-b91e028fa91d"target="_blank">"Article-Link."</a> 
                  </p>
                  <p>
                      The first project that I worked on in Module 2 was Bloc-Jams-React. This app gave me the first taste of what it means to use a library such as React and create a SPA(single page application). You could quickly see that React’s virtual DOM helps the front end side to perform in a fast manner. I obviously ran into problems, but the support staff through Slack and my mentor really helped out when I was stuck. If you are interested in checking out my project, have a look here:
                  </p>
                  <img src="images/Jam-NM.jpg" style="width:50%" class="img-fluid"></img>
                  <br>
                  <p>Following Bloc-Jams-React app I worked on my second project. The second project was Bloc-Chat-React which was also my first encounter with Firebase.</p>
                  <img src="images/Firebase.png" class="img-fluid" style="width:50%"></img>
                  <br>
                  <p>Firebase is a Backend as a Service provided by google. I had to learn implementing firebase, because of it’s google authentication and data storage service. This project was much more challenging than the first one, because the checkpoint had barley any code examples. So it was mostly on me to make my own research and learn how firebase works. I haven’t finished the design of the project yet, but I will post it in my future stories.</p>
                  <p>After the two projects it was time to demonstrate my skills and knowledge in my second assessment. I prepared for a week and the second assessment required you to have a deeper understanding of Javascript, CSS3 and HTML. It also covered a few questions about React. It was nerve recking, but I passed the assessment and it felt awesome. I have learned so much in a short period of time and I can’t wait to see what’s next in Module 3. It will definitely not become easier, but I am looking very forward to learn more about Data Structures, Algorithms, Databases and SQL in the next Module.</p>
                  <p>Overall my experience has been super positive with Bloc. I have made some great process over a short period of time and can’t wait to see where this journey is going to take me. I will stop here for now and will try to post an update again in the near future. Until then happy hacking everyone!!!</p>
                </div>
              </div>
            </div>
          </div>
    </section>

<hr class="animated fadeIn" style = "background-color:#c71585">
                 
<section class = "jumbotron" style= "background-color:#f9f9f9;">

    <div class="container-fluid">
    <div class="card animated fadeIn" style="background-color:#f9f9f9; border:none;">


                        <h2>My first month at Bloc</h2>
                        <h5>September 24, 2018</h5>
                        <img src="images/bloc.jpeg" style="width:50%" class="img-fluid" style="width:50%"></img>
                        </a>
                        <p class=".lead" style="margin-top:25px">It’s been an interesting journey so far in my full stack web developer program through Bloc. I didn’t know what to expect, since I had no background at all when it comes to coding.</p>
                        <p>
                        <button class="btn button" type="button" data-toggle="collapse" data-target="#collapseArticle4" aria-expanded="false" aria-controls="collapseArticle4">
                            Continue Reading
                      </button>
                      </p>
                      <div class="collapse" id="collapseArticle4">
                        <div class="card card-body" style= "background-color:#f9f9f9; border:none">
                        <p>I was curious and anxious knowing that I am entering a world full of unknowns, but I like challenges and like to prove myself every day to reach my goals. In this article I am going to talk about my first impressions as a programmer in the bloc program.</p>
                        <p>The first module was about learning the fundamentals of HTML, CSS, Git, GitHub and JavaScript. First, I have to say that the overall layout of bloc’s dashboard is very simple to follow. This made it very easy to get settled into my new working environment. Second, each checkpoint consists of an assignment that will be evaluated by a mentor in order to pass to the next checkpoint. I like the idea of the assignments, because it allows you to apply the learning objectives following the readings. After finishing a couple assignments, I noticed that I would do a lot of research on the web on my own in order to get a deeper understanding of the concepts. Beside the web, I would also use Slack as a resource a lot. The slack community is a very good resource, because it allows students to interact with each other and to ask questions to mentors for help. Overall, I really liked the quick respond times from the mentors. They are a massive help!</p>
                        <img src="images/coding.png" class="img-fluid" style="width:50%;"></img>
                        <br>
                        <p>At the end of each module there is an assessment, that allows you to prove that you have mastered the content in order to advance to the next module. The assessment contains explaining concepts, multiple choice questions, interpreting codes and writing codes. At the end of the assessment you will receive your grade. You have to receive a 7 out of 10 to pass and have 3 tries. If you don’t pass after the third try you will forfeit your Tuition Reimbursement Guarantee. So a lot is on the line ….I have studied a week to prepare myself for the assessment. Fortunately I passed and I am very excited to start the next module. I have to say I really enjoy the program. Your success is based on the amount of time you put in. I would have never thought I would learn so much in a short period of time. It’s very exciting and I can’t wait to implement my skills in the projects coming up.</p>
                        <p>I will stop here for now. I have my first meeting tomorrow with my new mentor and I am looking forward to learn more and more :)</p>
                      </div>
                    </div>
                  </div>
                </div>
      </section>
      
      <hr class="animated fadeIn" style = "background-color:#c71585">
                        

      <section class = "jumbotron" style= "background-color:#f9f9f9;">

          <div class="container-fluid">
          <div class="card animated fadeIn" style="background-color:#f9f9f9; border:none;">

                        <h2>How Bloc and I met.</h2>
                        <h5>September 14, 2018</h5>
                        <img src="images/code1.jpg" style="width:50%" class="img-fluid" style="width:50%"></img>
                        </a>
                        <p class=".lead" style="margin-top:25px">If someone would have told me that I will get into programming 10 years ago, I would have just laughed at that thought and take it as a joke. Me and computers? No chance….</p>
                        <p>
                        <button class="btn button" type="button" data-toggle="collapse" data-target="#collapseArticle5" aria-expanded="false" aria-controls="collapseArticle5">
                            Continue Reading
                      </button>
                      </p>
                      <div class="collapse" id="collapseArticle5">
                        <div class="card card-body" style= "background-color:#f9f9f9; border:none">
                        <p>My entire life was surrounded by soccer. I was born in Germany and grew up breathing the soccer culture every single day and second. I developed a strong passion for the sport. Playing in Germany at the highest youth level gave me a strong foundation to succeed later in my career on and off the field. In this post I will talk about my past and how I found my way to coding.</p>
                        <p>I immigrated to Canada in 2006 and even though the country wasn’t known for it’s soccer culture, I still continued to peruse my dream. Within 6 months, I signed with the Vancouver Whitecaps and played for the club for several years. Following my stint with the club, I accepted a scholarship to attend the University of British Columbia. Winning 2 national championships and graduating with a commerce degree from UBC were a number of highlights that I am still proud of as of today.</p> 
                        <p>Upon graduation from University, I found my way back into the professional game. Not as a player but this time as an Analyst & Scout for a major league soccer team. I felt it was the right time to hang up the boots and use my strengths off the field. Throughout my years as an analyst, I was constantly working with various software and websites to do my job. This is the time, where I started to become more and more curious on how these software and web pages are actually build. I was hooked to my laptop as an analyst and started to develop a strong interest to the world of coding. I became fascinated to programming, so I decided to pursue my interest of coding.</p>
                        <p>Prior to attending Bloc, I discussed with various professionals within the industry which educational path would probably be the best fit for me. After tons of research, I committed to Bloc and I am looking forward to this journey.</p>
                        <p>I will stop right here for now…..In my next post I will talk about my first month at Bloc and how my life has been as a coder.</p>
                      </div>
                    </div>
                  </div>
                </div>
        </section>
                        
          
        

      </main>

      
    
      <footer>
      <% include ./partials/footer.ejs %>
      </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
</html>