<!DOCTYPE html>
<html lang="en" style = "scroll-behavior: smooth">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KKHCER7SPK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-KKHCER7SPK');
    </script>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="css/contact.css">

  </head>
  <body>

    <% include ./partials/navbar.ejs %>

  
      <main>

      <p class="animated fadeIn"  style = "font-family: myriad; color: #c71585; font-size: 80px; text-align:center;">Contact</p>
        <div class = "container animated fadeIn">
        <section style= "text-align:center" class="jumbotron bg-transparent animated fadeIn">
        <p>If you would like to get in touch, <a href = "mailto: nmashinchi@gmail.com">click here to email me,</a> and I will try to respond as soon as possible or schedule a meeting below.</p>
        <div class = "container animated fadeIn">
                <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/nmashinchi/15min" style="min-width:320px;height:630px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
        <!-- Calendly inline widget end -->
             

     </main>
      
      <footer>
        <% include ./partials/footer.ejs %>
      </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
    
</html>



    