<!DOCTYPE html>
<html lang="en" style = "scroll-behavior: smooth">
  <head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="css/contact.css">

  </head>
  <body>

    <% include ./partials/navbar.ejs %>

  
      <main>

          <p class="animated slideInRight animated fadeIn"  style = "font-family: myriad; color: #c71585; font-size: 80px; text-align:center; text-decoration-line: underline ">Contact</p> 


          <% if(messages.error) { %>
            
            <div class="alert alert-info text-dark alert-dismissible fade show" style="text-align: center">
                    <strong>Error!</strong> Your message has not been sent, please double check your name and email.
                       <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>  
            <% } %>
          
            <% if (messages.notice) { %>
                
                    <div class="alert alert text-white alert-dismissible fade show" style="text-align: center; background-color:#c71585 ">
                            <strong>Success!</strong> Your message has been sent successfully.
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>  
            <% } %> 

          
       <section class = "jumbotron" style= "background-color:#f9f9f9 ">

        <div class = "container animated fadeIn">
          
          <p>If you'd like to get in touch with me, feel free to send a message, and I will try to respond as soon as possible 
            <br>
              <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
              <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
              <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/nmashinchi/15min'});return false;">or book a 15 minute appointment with me.</a>
          </p>
       

        <div class= "form-group">
        <form action="/contact" id="contact-form" method="post" role="form">
            <fieldset>
              <label for="name" style="color:#c71585">Name (required):</label>
              <input id="name" name="name" type="text" placeholder="Your name must be at least 2 characters in length." required="required"class="form-control">
              <small class="text-muted" id="nameHelp"></small>
              <br>
              <label for="phone" style="color: #c71585">Phone (required):</label>
              <br>
              <input id="phone" name="phone" type="text" placeholder="Your phone number must be valid." required="required"class="form-control">
              <small class="text-muted" id="phoneHelp"></small>
              <br>
              <label for="email" style="color: #c71585">Email (required):</label>
              <br>
              <input id="email" name="email" type="text" placeholder="Your email address must be valid." required="required"class="form-control">
              <small class="text-muted" id="emailHelp"></small>

              <br>
              <label for="message" style="color:#c71585">Message:</label>
              <br>
              <textarea id="message" name="message" placeholder="Enter your message here." rows="3" required="required" class="form-control"></textarea>
              <br>
              <button class="btn button" type="submit" style="background-color: #c71585; color: white">Send</button>
            </fieldset>
          </form>
          </div>
        </div>
      </section>

          

        
      
      

          
        
        
      </main>
      
      
    
      <footer>
        <% include ./partials/footer.ejs %>
      </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
    
</html>



    