<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <% include ./partials/navbar.ejs %>

      <main class="container">
      
        <section style= "background: transparent; text-align:center" class="jumbotron my-4">
            <h1 class="display-3">NAVID MASHINCHI</h1>
            <h4 class="display-6">Junior Full Stack Web Developer</h4> 
            <hr>
            <img src="images/Head-Shot-For-Portfolio.jpg" class = "rounded-circle rounded mx-auto d-block" alt="Navid Mashinchi Head-Shot" style="height:230px">
            <hr>
            <a href= "https://linkedin.com/in/navidmashinchi"><ion-icon name="logo-linkedin" style= "font-size: 80px; color: burlywood"></ion-icon></a>
            <a href= "https://github.com/navido89"><ion-icon name="logo-github" style= "font-size: 80px; color: burlywood"></ion-icon></a>
            <a href= "https://twitter.com/NMashinchi"><ion-icon name="logo-twitter" style= "font-size: 80px; color:burlywood"></ion-icon></a>
            <hr>
        </section>
      
      </main>
    
      <footer>
      <% include ./partials/footer.ejs %>
    </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

    </body>
</html>