<!DOCTYPE html>
<html lang="en" style = "scroll-behavior: smooth">

  <head>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/landing.css">

  <% include ./partials/head.ejs %>
  </head>

  

  
  
  <body>

    <% include ./partials/navbar.ejs %>

      <main>
        
      
          <section style= "text-align:center" class="jumbotron jumbotron1">
              <div class="container animated fadeIn">
              
              <div>
                
              <img src="images/Head-Shot-1.jpg" class = "rounded-circle mx-auto d-block landingPic" alt="Navid Mashinchi Head-Shot" style="height:150px; width:150px;">
              
                <h1 style="color:black; margin-top:15px">NAVID MASHINCHI</h1>
                <p class="lead"> FULL STACK WEB DEVELOPER </p>
    
    
                <hr>
                
                <a href= "https://github.com/navido89"><i class ="fab fa-github" style= "font-size: 50px; color: black"></i></a>
                <a href= "https://linkedin.com/in/navidmashinchi"><i class ="fab fa-linkedin" style= "font-size: 50px;"></i></a>
                <a href= "https://www.instagram.com/navido_ma/"><i class ="fab fa-instagram fa-5x" style= "font-size: 50px;"></i></a>            
                <a href= "https://twitter.com/NMashinchi"><i class ="fab fa-twitter" style= "font-size: 50px; color: twitter"></i></a>
                <a href= "navid.mashinchi-resume.pdf" target="_blank"><i class="fas fa-file" style= "font-size: 50px; color: black"></i></ion-icon></a>
    
              </div>
              
                <hr>
                <h1 style="color:black; margin-top:15px">WELCOME</h1>
    
            </section>
    
            <section style="text-align: center; height:10px" class= jumbotron my-1>
              <h4 class="display-6 lead animated slideInRight" style="color: #c71585">"Welcome to my portfolio.</h4> 
            </section>
    
            
            <br>

        
<section class = jumbotron>
        <div class="header">
          <h2>Latest Blogs</h2>
        </div>
        
          <div class="row">
            <div class="leftcolumn">
              <div class="card animated fadeIn">
                <h2>Server Side JS with Node.JS </h2>
                <h5>June 3, 2019</h5>
                <a href = "https://medium.com/@NMashinchi/server-side-js-with-node-js-bloc-module-4-f5c34c26bb3">
                  <img src="images/nodejs.png" class="img-fluid"></img>
                </a>
                <p class=".lead" style="margin-top:25px">It’s been about a couple months since I posted my last story, but there is a reason why I didn’t get a chance to post any updates on my journey in the world of programming. Let me tell you one thing, it’s been a heck of a ride...</p>
                <p>
                    
                    <button class="btn button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Continue Reading
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <p>and super rewarding seeing the improvements in my programming skills.</p>

                        <p>Module 4 of Bloc’s apprenticeship has definitely been the most challenging module, but at the same time it’s been one of the most enjoyable modules that I have worked on. The reason for that is, because I got to use all my skills to finally create multiple applications from scratch on my own. I got introduced to a very popular server side platform called Node.JS.</p>
                        <br>
                        <br>
                        <img src="images/Node.JS.jpeg">
                        <br>
                        <p>Node.JS is one of the most popular technologies used by leading businesses such as Uber, Airbnb, Netflix and many more. To those who don’t know what Node.JS is, it allows you to create fast and scalable network applications, by using only one single programming language for both the front-end and back-end side. Sounds convenient right? The whole idea of relying on one single programming language, JavaScript, rather then using a different language for writing server-side code is called “Isomorphic JavaScript”. If you are new to Node.JS, I highly recommend reading the following article to learn more about 
                        <a href="https://medium.com/airbnb-engineering/isomorphic-javascript-the-future-of-web-apps-10882b7a2ebc"target="_blank">isomorphic Javascript.</a></p>
                        <br>
                        <p>
                            Module 4 started with the introduction to Node.JS and its core libraries. Learning about the standard, built in libraries such as
                            <a href="https://nodejs.org/docs/latest-v8.x/api/fs.html"target="_blank">"fs"</a>which stands for file ststem,
                            <a href="https://nodejs.org/docs/latest-v8.x/api/http.html" target="_blank">"HTTP"</a> and 
                            <a href="https://nodejs.org/docs/latest-v8.x/api/modules.html"target="_blank">"Node Modules"</a>
                            was a good way to start learning and grasp the fundamental understanding of how Node.JS’s environment works. Following the introduction, I started implementing the skills that I have learned into real life projects.</p>
                        <br>
                        <p>The first project that I worked on is called “Address Bloc”. It’s a command line application that uses the
                            <a href="https://github.com/SBoudrias/Inquirer.js/"target="_blank">"Inquirer"</a> module. The application is an address book that will allow users to store and retrieve contacts. When building this app I got introduced to a number of important concepts and learned some new features that are very powerful. First I learned about “Testing”, which is in todays job market a very demanding skill to have. There are a number of testing patterns, but the once I learned are “Test Driven Development” and “Behavioral Driven Development.” I am not going to get into the details of what they are about, but in short “Test Driven Development” (TDD) tests the implementation of your code, where though “Behavioral Driven Development” (BDD) is an extension of TDD and not only focuses on the implementation of your code but also on the behavior of it. Throughout the Module I used the testing framework
                            <a href="https://jasmine.github.io/"target="_blank">"Jasmine"</a> , which is very popular and easy to understand.
                        </p> 
                        <br>
                        <br>
                        <img src="images/jasmine.png">
                        <br>
                        <p>Another important concept that I learned is “Object Relational Mapping” (ORM). I know when reading those terms for the first time it may sound super complicated, but to be honest if you spend a little time on them and do your research they become easy to understand. ORM allows you to create SQL queries, by allowing the developer to use the language of their choice. Instead of writing queries manually through your database, you can simply code queries, which is a big benefit. The only downsides of ORM are that they are slow in processing queries and that it’s hard to implement complex queries. I used
                            <a href="http://docs.sequelizejs.com/"target="_blank">"Sequelize"</a> 
                            in my projects. It’s a promise base ORM, which allows you to create models, association between models, migrations and SQL Queries.    
                        </p>
                        <br>
                        <p>In order to store the contacts in my Address-Bloc project, I used PostgreSQL for my database and as mentioned above Sequelize for my ORM. To connect the database and your ORM you simply use a package called “pg” which helps you handle the connection to the database and Sequelize.
                        
                        Overall I must say learning about ORM and Testing really takes your programming to another level. If you would like to check out the command line project just check it out on my GitHub. See the link below:
                            <a href="https://github.com/navido89/address-bloc"target="_blank">"Addres-Bloc-GitHub".</a> 
                          </p>
                          <br>
                          <br>
                          <img src="images/address-bloc.png">
                          <br>
                          <p>The second project that I worked on in Module 4 is called Bloccit. This project is a reddit inspired web app that has been built with Node.JS, Express, PostgreSQL, Jasmine and Embedded JavaScript. This app allows users to create topics, posts, and comments as well as vote and favorite posts.</p>
                          <br>
                          <p>
                            <a href="https://expressjs.com/"target="_blank">"Express"</a> 
                            is another key learning objective of this module. It’s a very popular Node.JS framework that provides developers an API, build handlers for requests, plugin middleware such as view engine and many more features. Middleware is a key concept of express. It allows developers to add functionalities such as verification, authentication and many more features to their apps. Instead of rewriting the code for each feature, middleware can be simply required to your app. However the only downside of it is, that express doesn’t take care of the maintenance of the additional dependencies. 
                          
                          <a href="https://github.com/mde/ejs"target="_blank">"Embedded JavaScript (EJS)"</a> 
                            is a view engine middleware that creates HTML templates for the users to view on their browser.
                          </p>
                          <br>
                          
                          <p>
                              This project took me a lot of time, because it was the first time I started a full stack web application for the first time from scratch. It was a great learning experience and seeing the outcome of this project gave me a lot of motivation and improved my programming skills tremendously. Check out the two links below, which takes you to the GitHub repo or to the application directly.
                              <a href="https://github.com/navido89/bloccitBlo"target="_blank">"Bloccit-GitHub-Link."</a> 
                            </p>
                          <a href="https://navido89-bloccit.herokuapp.com/"><img src="images/Bloccit-Blog.png"></a>
                          <br>
                          <br>
                          <p>Last but not least, the last project that I worked on in Module 4 is called Blocipedia. It allows users to create, collaborate, and share wikis. It was built with Node.JS, Express, PostgreSQL, Jasmine, SendGrid and Stripe. I have enjoyed this project a lot, because of the incorporation of two APIs. 
                              <a href="https://github.com/sendgrid/sendgrid-nodejs"target="_blank">"SendGrid"</a>
                              is an API that allows developers to create user confirmation emails. 
                              <a href="https://stripe.com/"target="_blank">"Stripe"</a>
                              on the other hand, is an API that allows developers to implement a payment process. Working with these APIs and learning on how to incorporate them into my code was a very valuable learning experience.
                          </p>
                          <img src="images/sendgridandstripe.jpeg">
                          <p>If you are interested in checking out this app have a look at my GitHub link below or check out the app directly.</p>
                          <a href="https://github.com/navido89/blocipedia-node"target="_blank">"Blocipedia-GitHub-Link."</a> 
                          <a href="https://navido89-bloccit.herokuapp.com/"><img src="images/blocipedia-blog.png"></a>
                          <br>
                          <br>
                          <p>Last but not least the grand finale of Module 4 was the last assessment that I would have to take in order to advance to the last module of Bloc’s Full Stack Web Developer program. I passed the assessment and I am super excited to finally start my capstone project and finish the apprenticeship. These last couple months have been an eye opener in terms of how much my programming skills have improved. I started programming about 8 months ago with zero programming knowledge and looking at what I have learned in such a short period of time really justifies that entering this program was a great decision. Everyone can learn coding and if you put in the time and work hard you will see the reward down the road. As mentioned in my last story, always remember:</p>
                          <h1>It’s a marathon && !== a sprint ;)
                          </h1>
                          <p> Until then happy coding :)</p>
                        </p>
                     </div>
                    <button class="btn button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Close Blog
                      </button>
                  </div>

              </div>
              <div class="card animated fadeIn">
                <h2>It’s A Marathon & Not A Sprint</h2>
                <h5>February 2, 2019</h5>
                <a href = "https://medium.com/@NMashinchi/its-a-marathon-not-a-sprint-bloc-module-3-7360b6423b36">
                  <img src="images/Marathon.jpeg" class="img-fluid"></img>
                </a>
                <p class=".lead" style="margin-top:25px">It’s been quite a journey, since I started my Full Stack Web Development apprenticeship through Bloc with zero programming experience. I have made lots of research prior to entering this field and it became evident to me that...</p>
                <a href = "https://medium.com/@NMashinchi/its-a-marathon-not-a-sprint-bloc-module-3-7360b6423b36"><button type="button" class="button btn">Continue Reading</button></a>

              </div>
              <div class="card animated fadeIn">
                  <h2>My React Journey</h2>
                  <h5>December 6, 2018</h5>
                  <a href = "https://medium.com/@NMashinchi/my-react-journey-module-2-2fbf152fc0ab">
                    <img src="images/React.png" class="img-fluid"></img>
                  </a>
                  <p class=".lead" style="margin-top:25px">It has been a while since I have posted my last story, but the past 2 months have been wild. Lots of this.props, this.state, debugging, sweat and long nights. Just to recap quickly, I started with zero knowledge when it comes to programming and within 5–10 weeks into Bloc’s Full Stack Web Development Program, I was able to create a music player app and a chat app... </p>
                  <a href = "https://medium.com/@NMashinchi/my-react-journey-module-2-2fbf152fc0ab"><button type="button" class="button btn">Continue Reading</button></a>
                </div>
            </div>
            <div class="rightcolumn">
              <div class="card animated fadeIn">
                <h2>About Me</h2>
                <img src="images/About.JPEG" class="img-fluid"></img>
                <p style="margin-top:25px"> Welcome to my portfolio. I am a California based Full Stack Web Developer...</p>
                <a href = "/about"><button type="button" class="button btn">Learn More About Me</button></a>
              </div>
              <div class="card animated fadeIn">
                <h3>Recent Work</h3>
                <a href = "/work">
                  <img src="images/Blocipedia.jpg" class="img-fluid"></img>
                </a>
                <hr>
                <br>
                <a href = "/work">
                  <img src="images/Bloccit.jpg" class="img-fluid"></img>
                </a>
                <hr>
                <br>
                <a href = "/work">
                  <img src="images/Jam-NM.jpg" class="img-fluid"></img>
                </a>
              </div>
              <div class="card animated fadeIn">
                <h3>All Blogs</h3>
                <a href = "https://medium.com/@NMashinchi"><button type="button" class="button btn">Blogs History</button></a>

              </div>
            </div>
          </div>
          </section>
        

      </main>

      
    
      <footer>
      <% include ./partials/footer.ejs %>
      </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
</html>