<!DOCTYPE html>
<html lang="en" style = "scroll-behavior: smooth">

  <head>
      <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="css/landing.css">

 
  </head>

  <style>
  .fadeIn {
animation-duration: 3s;
animation-delay: 0.5s;
}

.slideInRight {
animation-duration: 2s;
animation-delay: 0.5s;
}

.content {
          
          padding: 10px;
          }

  </style>

  


  <body>


      <main>
        
      <div class="mainpage">
          <% include ./partials/navbarLanding.ejs %>

          <section style= "text-align:center" class="jumbotron bg-transparent animated fadeIn">
              <div class="container">
             
              <img src="images/Head-Shot-3.jpg" class = "rounded-circle mx-auto d-block landingPic img-fluid" alt="Navid Mashinchi Head-Shot" style="margin-top:10%">
              
                <h1 style="color:black; margin-top:10px;">NAVID MASHINCHI</h1>
                <h2 style= "color: #c71585";> FULL STACK DEVELOPER </h2>
                <a href="#greeting1" style="text-align:center;"><i class="fas fa-chevron-circle-down button1"></i></a>
            </div>
          </section>
      </div>        
    


            
            <section class= "jumbotron my-1" style="text-align: center; background-color: #f9f9f9" id="greeting">
              <div class="container">
              <h3 class="animated slideInRight animated fadeIn"  style = "font-family: myriad; color: #c71585">"Never let success go to your head and never let failure go to your heart" -Ziad K.Abdelnour</h3> 
              </div>
            </section>

            <hr class="animated fadeIn" style = "background-color:#c71585">

         
    
            
            

            <div class = "jumbotron animated fadeIn" style="background-color: #f9f9f9">  
                <div class="container">
                      <div class="row">
                          <div class="col-md-6 how-img">
                            <img src= "images/About1.JPEG" class= "float-left img-fluid" alt="About Picture">              
                          </div>
                          <div class="col-md-6" style="margin-top:0px;">
                            
                            <p id="greeting1"> I am Navid Mashinchi a Full Stack Web Developer based in Sacramento, California. I have been a developer for more than a year and have been loving every second of it. I am a highly motivated individual who always loves to learn new technologies and solve problems. I focus on creating responsive web applications supported by Test Driven Development, writing effective, and maintainable code. I am experienced in JavaScript frameworks, including Node.JS and React. </p>
                      
                            <p>I played soccer professionally for a number of years in countries such as Germany and Canada. Following my soccer career, I attended and graduated from the University of British Columbia. While I was finishing my last year in University, I joined the Vancouver Whitecaps FC (Major League Soccer) as a performance analyst and scout.  Throughout my time with the Whitecaps, I developed a strong passion for learning new technologies. As a result, I decided to shift into the Software & Tech industry. My love for coding, creating simple, yet useful websites, and my willingness to help other people have shaped me as a person and help me reach my career goals. </p>
                            
                            <p>I am fluent in Farsi, German and English. While I am not working on any projects, I spend time with my family, in the gym, play soccer or learn new technologies. I truly believe that there is nothing more beautiful in life than learning new skills and reinventing yourself to become better as every day passes. </p>
                            
                            <p>If you would like to learn more about me, feel free to have a look at my resume.  </p>
                            
                            <a href= "navid-mashinchi-resume-updated.pdf" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">My Resume</button></a>

                              
                               
                            
          
                          </div>
                      </div>
                  </div>
            </div>

            <hr class="animated fadeIn" style = "background-color:#c71585">

            <section class="row text-center jumbotron animated fadeIn" style="background-color: #f9f9f9">
              <div class="container">
                <h3 style="padding:10px;text-align:center">Latest Projects</h3>
                    <div class="row">
                            <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4">
                              <div class="content">
                                <div class = "news-image"> 
                                  <a href=""><img src="images/locus-project1.PNG" class="thumbnail img-fluid" alt="News One" class="image"></a>
                                  <br>
                                  <br>
                                  <a href="https://navido89-locus-health-centre.herokuapp.com/" target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">See Locus Health Live</button></a>
                                  <br>
                                  <a href= "https://github.com/navido89/Locus-Health-Center" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">GitHub Link</button></a>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4">
                              <div class="content">
                                  <div class = "news-image">
                                     <a href=""><img src="images/Blocipedia1.png" class="thumbnail img-fluid" alt="News Two" class = "image"></a>
                                     <br>
                                     <br>
                                     <a href="https://navido89-blocipedia-node.herokuapp.com/"  target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center button2">See Blocipedia Live</button></a>
                                    <br>
                                     <a href="https://github.com/navido89/blocipedia-node" target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center button2">GitHub Link</button></a>
                                  </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4">
                                    <div class="content">
                                        <div class = "news-image">
                                           <a href=""><img src="images/OneTwoPass.png" class="thumbnail img-fluid" alt="News Three" class = "image"></a>
                                           <br>
                                           <br>
                                           <a href="https://onetwopass.herokuapp.com/" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">See OneTwoPass Live</button></a>
                                           <br>
                                           <a href= "https://github.com/navido89/One-Two-Pass" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">GitHub Link</button></Link></a>
                                        </div>
                                      </div>
                                  </div>
              </div>
            </section>

            

            

                  
            

            
      
        

      </main>

      
      
      <footer>
      <% include ./partials/footer.ejs %>
      </footer>
    
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
</html>