<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <% include ./partials/navbar.ejs %>

      <main>
      
        <section style= "background: transparent; text-align:center" class=" container jumbotron my-4">
            
            <img src="images/Head-Shot-For-Portfolio.jpg" class = "rounded-circle rounded mx-auto d-block animated zoomIn" alt="Navid Mashinchi Head-Shot" style="height:230px">
            <h1 class="display-3 animated zoomIn">NAVID MASHINCHI</h1>
            <hr>
            
            <a href= "https://linkedin.com/in/navidmashinchi"><ion-icon name="logo-linkedin" style= "font-size: 80px; color: #005766"></ion-icon></a>
            <a href= "https://github.com/navido89"><ion-icon name="logo-github" style= "font-size: 80px; color: #005766"></ion-icon></a>
            <a href= "https://twitter.com/NMashinchi"><ion-icon name="logo-twitter" style= "font-size: 80px; color: #005766"></ion-icon></a>
            <a href= "https://www.instagram.com/navido_ma/"><ion-icon name="logo-instagram" style= "font-size: 80px; color: #005766"></ion-icon></a>
            <a href= "navid.mashinchi-resume.pdf" target="_blank"><ion-icon name="document"style= "font-size: 80px; color: #005766"></ion-icon></a>
            
            <hr>
        </section>

        <section style="text-align: center; height:10px" class= jumbotron my-1>
          <h4 class="display-6 lead animated slideInRight">Full Stack Web Developer</h4> 
        </section>

        <div>
            <img src="images/numberOne.jpg"  class='w-100' style="height:600px" alt="number one image">
        </div>

        <section style= "background: transparent; text-align:center" class=" container jumbotron my-4">
            <h1 class="display-4">Welcome to my page!</h1>
            <p class = "lead">
              I am Navid, a California based full stack web developer, who has a strong passion for coding, creating simple and useful web applications. 
            </p>
           
           
            
        </section>

      </main>

      
    
      <footer>
      <% include ./partials/footer.ejs %>
      </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
</html>