<!DOCTYPE html>
<html lang="en" style = "scroll-behavior: smooth">

  <head>
      <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="css/landing.css">

 
  </head>

  <style>
  .fadeIn {
animation-duration: 3s;
animation-delay: 0.5s;
}

.slideInRight {
animation-duration: 2s;
animation-delay: 0.5s;
}

.content {
          
          padding: 10px;
          }

  </style>

  


  <body>


      <main>
        
      <div class="mainpage">
          <% include ./partials/navbarLanding.ejs %>

          <section style= "text-align:center" class="jumbotron bg-transparent animated fadeIn">
              <div class="container">
             
              <img src="images/Head-Shot-3.jpg" class = "rounded-circle mx-auto d-block landingPic img-fluid" alt="Navid Mashinchi Head-Shot" style="margin-top:10%">
              
                <h1 style="color:black; margin-top:10px;">NAVID MASHINCHI</h1>
                <h2 style= "color: #c71585";> DATA SCIENTIST </h2>
                <a href="#greeting1" style="text-align:center;"><i class="fas fa-chevron-circle-down button1"></i></a>
            </div>
          </section>
      </div>        
    


            
            <section class= "jumbotron my-1" style="text-align: center; background-color: #f9f9f9" id="greeting">
              <div class="container">
              <h3 class="animated slideInRight animated fadeIn"  style = "font-family: myriad; color: #c71585">"Never let success go to your head and never let failure go to your heart" -Ziad K.Abdelnour</h3> 
              </div>
            </section>

            <hr class="animated fadeIn" style = "background-color:#c71585">

         
    
            
            

            <div class = "jumbotron animated fadeIn" style="background-color: #f9f9f9">  
                <div class="container">
                      <div class="row">
                          <div class="col-md-6 how-img">
                            <img src= "images/About1.JPEG" class= "float-left img-fluid" alt="About Picture">              
                          </div>
                          <div class="col-md-6" style="margin-top:0px;">
                            
                            <p id="greeting1"> I am Navid Mashinchi a Data Scientist based in Sacramento, California. I have been working in the field of analytics for more than four years and have been loving every second of it. I am a highly motivated individual who always loves to learn new technologies and solve problems. I focus on analyzing large sets of data and creating machine learning models with the goal to help businesses to make better decisions. I am experienced in Python, R, Data Cleaning, Data Visualization and Machine Learning. </p>
                      
                            <p>I played soccer professionally for a number of years in countries such as Germany and Canada. Following my soccer career, I attended and graduated from the University of British Columbia. While I was finishing my last year in University, I joined the Vancouver Whitecaps FC (Major League Soccer) as an analyst. Throughout my time with the Whitecaps, I developed a strong passion for learning new technologies. As a result, I decided to shift into the Data Science industry. I am currently enrolled in University of Denver's Data Science Masters program. My love for analyzing big data, coding and my willingness to help other people have shaped me as a person and help me reach my career goals. </p>
                            
                            <p>I am fluent in Farsi, German and English. While I am not working on any projects or studying, I spend time with my family, in the gym, play soccer or read data science blogs. I truly believe that there is nothing more beautiful in life than learning new skills and reinventing yourself to become better as every day passes. </p>
                            
                            <p>If you would like to learn more about me, feel free to have a look at my resume.  </p>
                            
                            <a href= "navid-mashinchi-resume-data-science.pdf" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">My Resume</button></a>

                              
                               
                            
          
                          </div>
                      </div>
                  </div>
            </div>

            <hr class="animated fadeIn" style = "background-color:#c71585">

            <section class="row text-center jumbotron animated fadeIn" style="background-color: #f9f9f9">
              <div class="container">
                <h3 style="padding:10px;text-align:center">Latest Publications</h3>
                    <div class="row">
                            <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4">
                              <div class="content">
                                <div class = "news-image"> 
                                  <img src="images/Police.jpeg" class="thumbnail img-fluid" alt="Police Project Article" class="image">
                                  <br>
                                  <br>
                                  <a href="https://towardsdatascience.com/an-examination-of-fatal-force-by-police-in-the-us-db897d97085c" target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">An Examination of Fatal Force by Police</button></a>
      
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4">
                              <div class="content">
                                  <div class = "news-image">
                                     <img src="images/Data Science Process.jpeg" class="thumbnail img-fluid" alt="News Two" class = "image">
                                     <br>
                                     <br>
                                     <a href="https://towardsdatascience.com/the-data-science-process-8-steps-to-a-successful-project-84891a18004"  target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center button2">The Data Science Process</button></a>
                                    
                                  </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4">
                                    <div class="content">
                                        <div class = "news-image">
                                           <img src="images/ARIMA.png" class="thumbnail img-fluid" alt="News Three" class = "image">
                                           <br>
                                           <br>
                                           <a href="https://towardsdatascience.com/predicting-number-of-covid19-deaths-using-time-series-analysis-arima-model-4ad92c48b3ae" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">Predicting Number of Covid19 Deaths </button></a>
                                           
                                        </div>
                                      </div>
                                  </div>
              </div>
            </section>

            

            

                  
            

            
      
        

      </main>

      
      
      <footer>
      <% include ./partials/footer.ejs %>
      </footer>
    
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
</html>