<!DOCTYPE html>
<html lang="en" style = "scroll-behavior: smooth">
  <head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="css/skills.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>

  
  <body>

    <% include ./partials/navbar.ejs %>

      <main>
          <p class="animated fadeIn"  style = "font-family: myriad; color: #c71585; font-size: 80px; text-align:center;">Skills</p> 

      
          <div class = "jumbotron animated fadeIn" style="background-color: #f9f9f9;">  
              <div class="container">
                    <br>
                    <div class="row">
                        <div class="col-md-6 how-img">
                            <span class="iconify" data-icon="carbon:logo-python" data-inline="false" style= "font-size: 90px; color: #c71585"></span>
                            <span class="iconify" data-icon="cib:r" data-inline="false" style= "font-size: 90px; color: #c71585"></span>                            
                            <span class="iconify" data-icon="cib:javascript" data-inline="false" style= "font-size: 90px; color: #c71585"></span>                        
                        </div>
                        <div class="col-md-6" style="margin-top:0px;">
                            <h4> Languages: Python, R, JavaScript</h4>
                            <p>I am most proficient in Python and I consistently use it in my projects. I am also familiar with R and JavaScript. In regards to Computer Science, I have a very good understanding of data structures, searching and sorting algorithms and the concepts of time and space complexities.</p>

                        </div>
                    </div>
                </div>
          </div>

          <hr class="animated fadeIn" style = "background-color:#c71585">


          <div class = "jumbotron animated fadeIn" style="background-color: #f9f9f9">  
              <div class="container">
                    <div class="row">
                        <div class="col-md-6 how-img">
                      <span class="iconify" data-icon="simple-icons:pandas" data-inline="false" style= "font-size: 90px; color: #c71585"></span>
                      <span class="iconify" data-icon="file-icons:numpy" data-inline="false" style= "font-size: 90px; color: #c71585"></span>
                      <span class="iconify" data-icon="carbon:clean" data-inline="false" style= "font-size: 90px; color: #c71585"></span>
                        </div>
                        <div class="col-md-6" style="margin-top:0px;">
                            <h4> Data Cleaning: Pandas, Numpy</h4>
                            <p> During a data science project, I spend most of the time in cleaning and organizing data. I constantly use Pandas and Numpy for those stages. Those tools become also handy when I do my initial investigation on the data. It also helps me discover patterns, test hypothesis and check for assumptions with the help of summary statistics and graphical representations. </p>

                        </div>
                    </div>
                </div>
          </div>

          <hr class="animated fadeIn" style = "background-color:#c71585">

          <div class = "jumbotron animated fadeIn" style="background-color: #f9f9f9">  
            <div class="container">
                  <div class="row">
                      <div class="col-md-6 how-img">
                        <span class="iconify" data-icon="carbon:qq-plot" data-inline="false" style= "font-size: 90px; color: #c71585"></span>
                        <span class="iconify" data-icon="uim:graph-bar" data-inline="false" style= "font-size: 90px; color: #c71585"></span>
                        <span class="iconify" data-icon="foundation:graph-pie" data-inline="false" style= "font-size: 90px; color: #c71585"></span>
                  </div>
                      <div class="col-md-6" style="margin-top:0px;">
                          <h4> Data Visualization: Seaborn, Matplotlib</h4>
                          <p> Data visualization is one part of the data science project life cycle that I enjoy a lot. I am experienced in using Seaborn and Matplotlib. I am also familiar with Geoplot and Folium, which I have used in my work. When I write code in R, I feel most comfortable using ggplot.  </p>

                      </div>
                  </div>
              </div>
        </div>

        <hr class="animated fadeIn" style = "background-color:#c71585">


          <div class = "jumbotron animated fadeIn" style="background-color: #f9f9f9">  
              <div class="container">
                    <div class="row">
                        <div class="col-md-6 how-img">
                      <span class="iconify" data-icon="mdi:head-cog-outline" data-inline="false" style= "font-size: 90px; color: #c71585"></span>
                      <span class="iconify" data-icon="simple-icons:scikit-learn" data-inline="false" style= "font-size: 90px; color: #c71585"></span>
                      <span class="iconify" data-icon="cib:tensorflow" data-inline="false" style= "font-size: 90px; color: #c71585"></span>
                        </div>
                        <div class="col-md-6" style="margin-top:0px;">
                            <h4>Machine Learning: Scikit-Learn, TensorFlow</h4>
                            <p> In the matter of machine learning models, I am most comfortable working with Scikit-Learn. I enjoy working with Scikit-Learn a lot, since I have a good understanding of most of their algorithms. I have also used it in my previous projects. I am also familiar working with TensorFlow, when working on problems that consist of neural networks. </p>

                        </div>
                    </div>
                </div>
          </div>
          
          <hr class="animated fadeIn" style = "background-color:#c71585">


          <div class = "jumbotron animated fadeIn" style="background-color: #f9f9f9">  
              <div class="container">
                    <div class="row">
                        <div class="col-md-6 how-img">
                            <span class="iconify" data-icon="bx:bxs-data" data-inline="false" style= "font-size: 90px; color: #c71585"></span>
                            <span class="iconify" data-icon="carbon:data-base" data-inline="false" style= "font-size: 90px; color: #c71585"></span>                            
                            <span class="iconify" data-icon="ant-design:cloud-server-outlined" data-inline="false" style= "font-size: 90px; color: #c71585"></span>
                        </div>
                        <div class="col-md-6" style="margin-top:0px;">
                            <h4>Databases: SQL, MongoDB</h4>
                            <p> In regards to databases I am most trained in SQL and MongoDB. In the past, I was also exposed to Google's Firebase, PostgreSQL and Sequelize.</p>

                        </div>
                    </div>
                </div>
          </div>
          
          <hr class="animated fadeIn" style = "background-color:#c71585">


          <div class = "jumbotron animated fadeIn" style="background-color: #f9f9f9">  
              <div class="container">
                    <div class="row">
                        <div class="col-md-6 how-img">
                            <span class="iconify" data-icon="topcoat:github-text" data-inline="false" style= "font-size: 90px; color:  #c71585"></span>                            
                            <span class="iconify" data-icon="ant-design:github-outlined" data-inline="false" style= "font-size: 90px; color:  #c71585"></span>
                            <span class="iconify" data-icon="clarity:organization-line" data-inline="false" style= "font-size: 90px; color:  #c71585"></span>
                        </div>
                        <div class="col-md-6" style="margin-top:0px;">
                            <h4> Version Control Systems: Git, GitHub</h4>
                            <p> When I begin a new project, I make sure to plan accordingly and organize myself in the best possible way. For that, version control tools are a must, I use Git and GitHub on a regular basis.</p>

                        </div>
                    </div>
                </div>
          </div>


      

       


      </main>
      
      
    
      <footer>
      <% include ./partials/footer.ejs %>
    </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
    
</html>