<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <% include ./partials/navbar.ejs %>

      <main class="container">
      
        <section style= "background: transparent; text-align:center" class="jumbotron my-4">
            <h1 class="display-3">Skills</h1>
            <img src="images/Head-Shot-For-Portfolio.jpg" class = "rounded-circle rounded mx-auto d-block" alt="Navid Mashinchi Head-Shot" style="height:230px">
        </section>

        <section style= "text-align:center; background:tan; height:200px" class="jumbotron my-2">
            <p>
                JavaScript, HTML and CSS are a very important part of my coding experience, I consistently use them in my projects. In regards to Computer Science, I have a very good understanding of data structures, searching and sorting algorithms and the concepts of time and space complexities.
            </p>
            <i class="fab fa-js-square" style= "font-size: 30px; color: black"></i>
            <i class="fab fa-html5" style= "font-size: 30px; color: black"></i>
            <i class="fab fa-css3-alt" style= "font-size: 30px; color: black"></i>
        </section>
        
        <section style= "text-align:center; background: whitesmoke; height:200px" class="jumbotron my-2">
            <p>
                I am currently specializing in Node.JS and Express on the back end side. In my previous projects I have also used NPM and had also some exposure to Passport. Further more I have worked with React.JS and Bootstrap on the client side. 
            </p>
            <i class="fab fa-node" style= "font-size: 30px; color: black"></i>
            <i class="fab fa-react" style= "font-size: 30px; color: black"></i>
            <i class="fab fa-bootstrap" style= "font-size: 30px; color: black"></i>
        
        </section>  
        
        <section style= "text-align:center; background:tan; height:200px" class="jumbotron my-2">
            <p>
                In regards to non-relational databases my experience is using Google's Firebase service. Speaking about relational databases, I have setup from scratch and interacted with PostgreSQL, and used Sequelize as Object Relational Mapping (ORM) interface.
            </p>
            <i class="fas fa-database" style= "font-size: 30px; color: black"></i>
            <i class="fas fa-server" style= "font-size: 30px; color: black"></i>
            <i class="fas fa-file-signature" style= "font-size: 30px; color: black"></i>
        </section>    

        <section style= "text-align:center; background: whitesmoke; height:200px" class="jumbotron my-2">
            <p>
                    Whenever I start a new project, one of the most critical aspects is to set a clear set of goals and scope. For that, I use Sketch for brainstorm purposes. Version control tools are also a must, I use git and GitHub on a regular basis.
            </p>
            <i class="fab fa-git" style= "font-size: 30px; color: black"></i>
            <i class="fab fa-github" style= "font-size: 30px; color: black"></i>
            <i class="fab fa-sketch" style= "font-size: 30px; color: black"></i>
          
        </section> 




      </main>
      
      
    
      <footer>
      <% include ./partials/footer.ejs %>
    </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
    
</html>