<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <% include ./partials/navbar.ejs %>

      <main>

          <section style= "background: transparent; text-align:center" class=" container jumbotron my-4">
            
              <img src="images/Head-Shot-For-Portfolio.jpg" class = "rounded-circle rounded mx-auto d-block animated zoomIn" alt="Navid Mashinchi Head-Shot" style="height:230px">
              <h1 class="display-3 animated zoomIn">SKILLS</h1>
              <hr>
              <a href= "https://linkedin.com/in/navidmashinchi"><ion-icon name="logo-linkedin" style= "font-size: 80px; color:#005766"></ion-icon></a>
              <a href= "https://github.com/navido89"><ion-icon name="logo-github" style= "font-size: 80px; color: #005766"></ion-icon></a>
              <a href= "https://twitter.com/NMashinchi"><ion-icon name="logo-twitter" style= "font-size: 80px; color: #005766"></ion-icon></a>
              <hr>
          </section>
  
          <section style="text-align: center; height:10px" class= jumbotron my-1>
            <h4 class="display-6 lead animated slideInRight">"Opportunities don't happen, you create them." - Chris Grosser</h4> 
          </section>
  
          <div>
              <img src="images/numberThree.jpg"  class='w-100' style="height:600px" alt="number one image">
          </div>
        <br>
        <section style= "text-align:center; height:200px" class="jumbotron my-2">
            <p class= "lead">
                I constistently use JavaScript, HTML and CSS in my projects. In regards to Computer Science, I have a very good understanding of data structures, searching and sorting algorithms and the concepts of time and space complexities.
            </p>
            <i class="fab fa-js-square" style= "font-size: 45px; color: #005766"></i>
            <i class="fab fa-html5" style= "font-size: 45px; color: #005766"></i>
            <i class="fab fa-css3-alt" style= "font-size: 45px; color: #005766"></i>
        </section>
        <br>
        <section style= "text-align:center; height:200px" class="jumbotron my-2">
            <p class= "lead">
                I am currently specializing in Node.JS and Express on the back end side. In my previous projects I have also used NPM and had also some exposure to Passport. Further more I have worked with React.JS and Bootstrap on the client side. 
            </p>
            <i class="fab fa-node" style= "font-size: 45px; color: #005766"></i>
            <i class="fab fa-react" style= "font-size: 45px; color:#005766"></i>
            <i class="fab fa-bootstrap" style= "font-size: 45px; color: #005766"></i>
        </section>  
        <br>
        <section style= "text-align:center; height:200px" class="jumbotron my-2">
            <p class= "lead">
                In regards to non-relational databases my experience is using Google's Firebase service. When it comes to realtional databases, I have setup from scratch and interacted with PostgreSQL, and used Sequelize as Object Relational Mapping (ORM) interface.
            </p>
            <i class="fas fa-database" style= "font-size: 45px; color:#005766"></i>
            <i class="fas fa-server" style= "font-size: 45px; color:#005766"></i>
            <i class="fas fa-file-signature" style= "font-size: 45px; color: #005766"></i>
        </section>    
        <br>
        <section style= "text-align:center; height:200px" class="jumbotron my-2">
            <p class= "lead">
                    When starting a new project, one of the key aspects lies in planning and preperation. I set a clear set of goals and scope and for that, I use Sketch. Version control tools are also a must, I work with git and GitHub on a regular basis.
            </p>
            <i class="fab fa-git" style= "font-size: 45px; color:#005766"></i>
            <i class="fab fa-github" style= "font-size: 45px; color:#005766"></i>
            <i class="fab fa-sketch" style= "font-size: 45px; color:#005766"></i>
        </section> 
        <br>
        <section class= "text-center">
            <a href="/work" class="btn btn-info">Work</a>
        </section>
        



      </main>
      
      
    
      <footer>
      <% include ./partials/footer.ejs %>
    </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
    
</html>