<!DOCTYPE html>
<html lang="en" style = "scroll-behavior: smooth">

  <head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="css/work.css">
    <link rel="stylesheet" href="css/work.css">

  </head>

<body>

    <% include ./partials/navbar.ejs %>

      <main>
            <p class="animated fadeIn"  style = "font-family: myriad; color: #c71585; font-size: 80px; text-align:center;">Work</p> 


      <section class = "jumbotron" style="background-color:#f9f9f9">   
            
       <div class="container animated fadeIn">



      <div class="row">
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="images/locus-project.PNG" alt="card image"></p>
                                  <br>
                                  <hr>
                                  <h4 class="card-title">Locus Health</h4>
                                  <hr>
                                  <a href="https://navido89-locus-health-centre.herokuapp.com/" target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">See Locus Health Live</button></a>
                                  <br>
                                  <a href= "https://github.com/navido89/Locus-Health-Center" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">GitHub Link</button></a>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                              <div class="card">
                                  <div class="card-body mt-4">
                                      <h5 style="text-decoration: underline">Description:</h5>
                                      <p>Locus Health is a health centre based in Vancouver, Canada. The centre provides various services
                                      such as personal training, registered massage therapy and more. This website has been created to improve the front-end. </p>
                               
                                      <h5 style="text-decoration: underline">Technologies:</h5>
                                      <p>Node.JS, JavaScript (ES6), Express, Nodemailer, EJS, HTML5, CSS, Bodyparser, Dotenv, Bootstrap 4 and Jasmine.</p>
                                      
                                    </div>
                              </div>
                          </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card" style="background-color:#c71585; color: white">
                                  <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="images/Blocipedia.jpg" alt="card image"></p>
                                          <br>
                                          <hr>
                                          <h4 class="card-title">Blocipedia</h4>
                                          <hr>
                                          <a href="https://navido89-blocipedia-node.herokuapp.com/"  target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center button2">See Blocipedia Live</button></a>
                                          <br>
                                          <a href="https://github.com/navido89/blocipedia-node" target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center button2">GitHub Link</button></a>
                                          
                                              
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                                  <div class="card" style="background-color:#c71585; color: white">
                                      <div class="card-body mt-4">
                                         
                                                    <h5 style="text-decoration: underline">Description:</h5>
                                                    <p>Blocipedia is an app that allows users to create, collaborate, and share wikis. Standard Users have the ability to contribute to 
                                                      and create public wikis while Premium users can create private wikis and add contributors.</p>
                                             
                                                    <h5 style="text-decoration: underline">Technologies:</h5>
                                                    <p>Node.JS, JavaScript (ES6), Express, Passport, Bcrypt.js, PostgreSQL, Stripe, Sequelize, Sendgrid, EJS, HTML5, CSS and Jasmine.</p>
                                                    
                                      </div>
                                  </div>
                              </div>
                      </div>
                  </div>
              </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="images/OneTwoPass2.jpeg" alt="card image"></p>
                                          <br>
                                          <hr>
                                          <h4 class="card-title">OneTwoPass</h4>
                                          <hr>
                                          <a href="https://onetwopass.herokuapp.com/" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">See OneTwoPass Live</button></a>
                                          <br>
                                          <a href= "https://github.com/navido89/One-Two-Pass" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">GitHub Link</button></Link></a>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                                  <div class="card">
                                      <div class="card-body mt-4">
                                          
                                                    <h5 style="text-decoration: underline">Description:</h5>
                                                    <p>OneTwoPass is a reddit inspired app that allows users to create topics, posts, and comments as well as vote and favorite posts.  
                                                        The content is open to the public, only resgistered users can comment about and rate posts. </p>
                                              
                                                    <h5 style="text-decoration: underline">Technologies:</h5>
                                                    <p>Node.JS, JavaScript (ES6), Express, Passport, Bcrypt.js, PostgreSQL, Sequelize, Sendgrid, EJS, HTML5, CSS and Jasmine.</p>
                                                    
                                      </div>
                                  </div>
                              </div>
                      </div>
                  </div>
              </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card" style="background-color:#c71585; color: white">
                                  <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="images/Jam-NM.jpg" alt="card image"></p>
                                          <br>
                                          <hr>
                                          <h4 class="card-title">Jam-NM</h4>
                                          <hr>
                                          <a href="https://navido89-jam-nm.herokuapp.com/" target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center button2">See JAM-NM Live</button></a>
                                          <br>
                                          <a href= "https://github.com/navido89/bloc-jams-react" target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center button2">GitHub Link</button></a>            
                                </div>
                              </div>
                          </div>
                          <div class="backside">
                                  <div class="card"style="background-color:#c71585; color: white">
                                      <div class="card-body mt-4">
                                          
                                                    <h5 style="text-decoration: underline">Description:</h5>
                                                    <p>Jam-NM is an online music player designed to play music for anyone who enjoys music from anywhere at anytime.
                                                    Users have the ability to listen to full albums. Inspired by Spotify it has the main functionalities of any music-player app.</p>
                                                    <h5 style="text-decoration: underline">Technologies:</h5>
                                                    <p>React.JS, 
                                                      <br>
                                                      JavsScript (ES6), 
                                                      <br> HTML5
                                                        <br> IonIcons
                                                        <br> CSS3.</p>
                                                        <br>
                                                        <br>
                                                        
                                    </div>
                                  </div>
                              </div>
                      </div>
                  </div>
              </div>
          </div>

        </section>  

   </main>
      
      
    
      <footer>
      <% include ./partials/footer.ejs %>
    </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
    
</html>