<!DOCTYPE html>
<html lang="en" style = "scroll-behavior: smooth">

  <head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="css/work.css">
    <link rel="stylesheet" href="css/work.css">

  </head>

<body>

    <% include ./partials/navbar.ejs %>

      <main>
            <p class="animated fadeIn"  style = "font-family: myriad; color: #c71585; font-size: 80px; text-align:center;">Work</p> 
            <!-- Projects section v.3 -->
<section class="my-5">

    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5 mb-lg-0 mb-5">
        <!--Image-->
        <img src="images/Police.jpeg" alt="Sample project image" class="img-fluid rounded z-depth-1">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Title:</h5>
            <p class="grey-text">An Examination of Fatal Force by Police in the US</p>
          </div>
        </div>
        <!-- Grid row -->
  
        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Description:</h5>
            <p class="grey-text">In this project we examine the factors that play into the horrible event of a fatal shooting by the police in the United States of America. Which ones carry more weight that lead to fatal shootings and are perhaps predictive in nature? Are they race? State location? Mental Illness? Based on our findings from the dataset of the available variables, we looked to predict the deceased’s race or mental illness status.</p>
          </div>
        </div>
        <!-- Grid row -->
  
        <!-- Grid row -->
        <div class="row">
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Technologies:</h5>
            <p class="grey-text mb-0">Python, Pandas, Numpy, Re, Seaborn, Matplotlib, Copy, Geopandas, Folium, Nominatim, Template, MacroElement, Sklearn, RandomizedSearchCV, PrettyTable.</p>
          </div>
        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">
            <div class="row">
              <!-- <h5 class="font-weight-bold mb-3">Links:</h5> -->
              <a href="https://towardsdatascience.com/an-examination-of-fatal-force-by-police-in-the-us-db897d97085c"  target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">Read Article</button></a>
              <a href="https://github.com/navido89/Police_Force_US" target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">GitHub Link</button></a>
            </div>
          </div>
          <!-- Grid row -->
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
    
        <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-5">
        <!--Image-->
        <img src="images/ARIMA.png" alt="Sample project image" class="img-fluid rounded z-depth-1">
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-lg-7">
        
        
        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Title:</h5>
            <p class="grey-text">Predicting number of Covid19 deaths using Time Series Analysis (ARIMA MODEL)</p>
          </div>
        </div>
        <!-- Grid row -->
  
        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Description:</h5>
            <p class="grey-text">In this project, a Time Series Analysis (ARIMA Model) predicts the number of deaths in the United States starting from August 1st – August 21st and August 1st – November 1st. The goal of this project was to compare our results with the projections that have been made by CNN. In addition to the comparison to CNN the aim was to get a deeper understanding of Time Series Analysis and the ARIMA model as well.</p>
          </div>
        </div>
        <!-- Grid row -->
  
        <!-- Grid row -->
        <div class="row mb-lg-0 mb-5">
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Technologies:</h5>
            <p class="grey-text mb-0">R, Ggplot2, Tidyverse, Zoo, aTSA, Ggplot2tseries, Forecast, Lubridate.</p>
          </div>
        </div>
        <!-- Grid row -->

<<<<<<< HEAD
      <div class="row">
          <!-- Team member -->
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-4">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card" style="background-color:#c71585; color: white">
                                  <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="images/Police.jpeg" alt="card image"></p>
                                          <br>
                                          <hr>
                                          <h4 class="card-title">An Examination of Fatal Force by Police in the US</h4>
                                          <hr>
                                          <a href="https://towardsdatascience.com/an-examination-of-fatal-force-by-police-in-the-us-db897d97085c"  target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center button2">Read Article</button></a>
                                          <br>
                                          <a href="https://github.com/navido89/Police_Force_US" target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center button2">GitHub Link</button></a>
                                          
                                              
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                                  <div class="card" style="background-color:#c71585; color: white">
                                      <div class="card-body mt-4">
                                         
                                                    <h5 style="text-decoration: underline">Description:</h5>
                                                    <p>In this project we examine the factors that play into the horrible event of a fatal shooting by the police in the United States of America. Which ones carry more weight that lead to fatal shootings and are perhaps predictive in nature? Are they race? State location? Mental Illness?
                                                    Based on our findings from the dataset of the available variables, we looked to predict the deceased’s race or mental illness status.</p>
                                             
                                                    <h5 style="text-decoration: underline">Technologies:</h5>
                                                    <p>Python, Pandas, Numpy, Re, Seaborn, Matplotlib, Copy, Geopandas, Folium, Nominatim, Template, MacroElement, Sklearn, RandomizedSearchCV, PrettyTable.</p>
                                                    
                                      </div>
                                  </div>
                              </div>
                      </div>
                  </div>
              </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-4">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="images/ARIMA.png" alt="card image"></p>
                                          <br>
                                          <hr>
                                          <h4 class="card-title">Predicting number of Covid19 deaths using Time Series Analysis</h4>
                                          <hr>
                                          <a href="https://towardsdatascience.com/predicting-number-of-covid19-deaths-using-time-series-analysis-arima-model-4ad92c48b3ae" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">Read Article</button></a>
                                          <br>
                                          <a href= "https://github.com/navido89/Time-Series-Analysis-ARIMA-Model-Covid19-Predictions" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">GitHub Link</button></Link></a>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                                  <div class="card">
                                      <div class="card-body mt-4">
                                          
                                                    <h5 style="text-decoration: underline">Description:</h5>
                                                    <p>In this project, a Time Series Analysis (ARIMA Model) predicts the number of deaths in the United States starting from August 1st – August 21st and August 1st – November 1st. The goal of this project was to compare our results with the projections that have been made by CNN. In addition to the comparison to CNN the aim was to get a deeper understanding of Time Series Analysis and the ARIMA model as well.</p>
                                              
                                                    <h5 style="text-decoration: underline">Technologies:</h5>
                                                    <p> R, Ggplot2, Tidyverse, Zoo, aTSA, Ggplot2tseries, Forecast, Lubridate.</p>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                      </div>
                                  </div>
                              </div>
                      </div>
                  </div>
              </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-4">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card" style="background-color:#c71585; color: white">
                                  <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="images/Covid-vs-Stock.png" alt="card image"></p>
                                          <br>
                                          <hr>
                                          <h4 class="card-title">Corona Virus vs Global Stock Market - The Impact</h4>
                                          <hr>
                                          <a href="https://github.com/navido89/Corona-Virus-vs-Stock-Market/blob/master/Report.pdf" target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center button2">Read Article</button></a>
                                          <br>
                                          <a href= "https://github.com/navido89/Corona-Virus-vs-Stock-Market" target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center button2">GitHub Link</button></a>            
                                </div>
                              </div>
                          </div>
                          <div class="backside">
                                  <div class="card"style="background-color:#c71585; color: white">
                                      <div class="card-body mt-4">
                                          
                                                    <h5 style="text-decoration: underline">Description:</h5>
                                                    <p>This paper focuses on the overall impact the corona virus has had on the global stock market in the early stages (February - March) of this global pandemic. We specifically paid our attention to the main outbreaks in countries such as China, United States and Italy. The virus had a tremendous impact on the global economy and as a result the fear of a global recession was on a rise in the early days of the pandemic.</p>
                                                    <h5 style="text-decoration: underline">Technologies:</h5>
                                                    <p>Python, CSV, Sys, Os, Collections, Logging, Requests, Argparse, Numpy, Matplotlib, Pandas, Datetime, Plotly.Express. </p>
                                                        <br>
                                                        <br>
                                                        
                                    </div>
                                  </div>
                              </div>
                      </div>
                  </div>
              </div>
=======
        <!-- Grid row -->
        <div class="row mb-3">
            <div class="row">
              <!-- <h5 class="font-weight-bold mb-3">Links:</h5> -->
              <a href="https://towardsdatascience.com/predicting-number-of-covid19-deaths-using-time-series-analysis-arima-model-4ad92c48b3ae" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">Read Article</button></a>
              <a href= "https://github.com/navido89/Time-Series-Analysis-ARIMA-Model-Covid19-Predictions" target="_blank"style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">GitHub Link</button></Link></a>
            </div>
>>>>>>> DS-Transformation
          </div>
          <!-- Grid row -->
  
      </div>
      <!-- Grid column -->
      
  
    </div>
    <!-- Grid row -->
    
    <hr class="my-5">

    <!-- Grid row -->
    <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 mb-5">
          <!--Image-->
          <img src="images/Covid-vs-Stock.png" alt="Sample project image" class="img-fluid rounded z-depth-1">
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-7">
    
          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Title:</h5>
              <p class="grey-text">Corona Virus vs Global Stock Market</p>
            </div>
          </div>
          <!-- Grid row -->
    
          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Description:</h5>
              <p class="grey-text">This paper focuses on the overall impact the corona virus has had on the global stock market in the early stages (February - March) of this global pandemic. We specifically paid our attention to the main outbreaks in countries such as China, United States and Italy. The virus had a tremendous impact on the global economy and as a result the fear of a global recession was on a rise in the early days of the pandemic.</p>
            </div>
          </div>
          <!-- Grid row -->
    
          <!-- Grid row -->
          <div class="row">
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Technologies:</h5>
              <p class="grey-text mb-0">Python, CSV, Sys, Os, Collections, Logging, Requests, Argparse, Numpy, Matplotlib, Pandas, Datetime, Plotly.Express.</p>
            </div>
          </div>
          <!-- Grid row -->
  
          <!-- Grid row -->
          <div class="row mb-3">
              <div class="row">
                <!-- <h5 class="font-weight-bold mb-3">Links:</h5> -->
                <a href="https://github.com/navido89/Corona-Virus-vs-Stock-Market/blob/master/Report.pdf" target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">Read Article</button></a>
                <a href= "https://github.com/navido89/Corona-Virus-vs-Stock-Market" target="_blank" style = "text-decoration:none"><button type="button" class="button btn d-inline mx-auto center">GitHub Link</button></a>     
              </div>
            </div>
            <!-- Grid row -->
    
        </div>
        <!-- Grid column -->
    
      </div>
      <!-- Grid row -->
  
  </section>
  <!-- Projects section v.3 -->
  
  
      

   </main>
      
      
    
      <footer>
      <% include ./partials/footer.ejs %>
    </footer>
      

      <% include ./partials/baseScripts.ejs %>
      <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/0cf4291129.js"></script>


    </body>
    
</html>